<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="header">header</div>

    
</body>
</html> -->




<header>
    <h2 class="logo">logo</h2>
    <nav class="navigation">
        <a class="active" href="">Home</a>
        <a href=""> about</a>
        <a href=""> service</a>
    </nav>
</header>



<div class="content-parallax">
    <section class="parallax" id="img">
        <img src="https://ik.imagekit.io/9tnlivadc/cloud.png?updatedAt=1719154194126" id="cloud">
        <img src="https://ik.imagekit.io/9tnlivadc/sun.png?updatedAt=1719153088886" id="sun">
        <h2 id="text"> parallax website</h2>
        <img src="https://ik.imagekit.io/9tnlivadc/beach.png?updatedAt=1719154302792" id="beach">
        <img src="https://ik.imagekit.io/9tnlivadc/bote.png?updatedAt=1719153484795" id="bote">
        <img src="https://ik.imagekit.io/9tnlivadc/chair.png?updatedAt=1719153467299" id="chair">
        <img src="https://ik.imagekit.io/9tnlivadc/tree%201l.png?updatedAt=1719153899697" id="treel">
        <img src="https://ik.imagekit.io/9tnlivadc/tree%202r.png?updatedAt=1719154006665" id="treerr">
        <img src="https://ik.imagekit.io/9tnlivadc/tree-1r.png?updatedAt=1719154013880" id="treer">
        <img src="https://ik.imagekit.io/9tnlivadc/umbralla.png?updatedAt=1719153360703" id="umbralla">
        <img src="https://ik.imagekit.io/9tnlivadc/tree2l.png?updatedAt=1719154107623" id="treell">
        <img src="https://ik.imagekit.io/9tnlivadc/wood1.png?updatedAt=1719153485750" id="wood1">
        <img src="https://ik.imagekit.io/9tnlivadc/wood2.png?updatedAt=1719153148696" id="wood2">
    </section>

    <section class="sec">
        <h2> parallax scrolling website</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa doloribus tenetur non magnam veniam?
            Molestiae
            assumenda autem quam ad
            illo perferendis provident blanditiis fugiat, corrupti deleniti veniam sunt debitis ab aliquam placeat dicta
            cupiditate voluptatum asperiores
            rem necessitatibus hic possimus iure dolor. Nesciunt quibusdam earum harum eveniet magni. Sapiente vel
            deserunt
            reprehenderit illo officia, tempora autem
            tempore corrupti perferendis delectus dignissimos consectetur optio eaque placeat temporibus consequatur
            iste
            veniam natus quo quas labore. Accusamus incidunt
            magnam voluptatem error molestias reiciendis molestiae, iure, adipisci voluptas repellat enim earum sunt
            optio
            doloremque velit ipsa dolore itaque laborum quam!
            Incidunt iure asperiores alias voluptatibus, esse, veniam id vero natus ut expedita magni non, optio
            repellat
            ullam soluta.
            Mollitia nisi doloribus dicta esse laboriosam quam fugit et, quae excepturi voluptatum molestias officiis
            ipsa
            ipsum?<br><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa doloribus tenetur non magnam veniam?
            Molestiae
            assumenda autem quam ad
            illo perferendis provident blanditiis fugiat, corrupti deleniti veniam sunt debitis ab aliquam placeat dicta
            cupiditate voluptatum asperiores
            rem necessitatibus hic possimus iure dolor. Nesciunt quibusdam earum harum eveniet magni. Sapiente vel
            deserunt
            reprehenderit illo officia, tempora autem
            tempore corrupti perferendis delectus dignissimos consectetur optio eaque placeat temporibus consequatur
            iste
            veniam natus quo quas labore. Accusamus incidunt
            magnam voluptatem error molestias reiciendis molestiae, iure, adipisci voluptas repellat enim earum sunt
            optio
            doloremque velit ipsa dolore itaque laborum quam!
            Incidunt iure asperiores alias voluptatibus, esse, veniam id vero natus ut expedita magni non, optio
            repellat
            ullam soluta.
            Mollitia nisi doloribus dicta esse laboriosam quam fugit et, quae excepturi voluptatum molestias officiis
            ipsa
            ipsum?<br><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa doloribus tenetur non magnam veniam?
            Molestiae
            assumenda autem quam ad
            illo perferendis provident blanditiis fugiat, corrupti deleniti veniam sunt debitis ab aliquam placeat dicta
            cupiditate voluptatum asperiores
            rem necessitatibus hic possimus iure dolor. Nesciunt quibusdam earum harum eveniet magni. Sapiente vel
            deserunt
            reprehenderit illo officia, tempora autem
            tempore corrupti perferendis delectus dignissimos consectetur optio eaque placeat temporibus consequatur
            iste
            veniam natus quo quas labore. Accusamus incidunt
            magnam voluptatem error molestias reiciendis molestiae, iure, adipisci voluptas repellat enim earum sunt
            optio
            doloremque velit ipsa dolore itaque laborum quam!
            Incidunt iure asperiores alias voluptatibus, esse, veniam id vero natus ut expedita magni non, optio
            repellat
            ullam soluta.
            Mollitia nisi doloribus dicta esse laboriosam quam fugit et, quae excepturi voluptatum molestias officiis
            ipsa
            ipsum?<br><br>
        </p>
    </section>



</div>

<div class="empty ">

    <div class="content-card">
        <div class="card ">
            <img src="https://ik.imagekit.io/9tnlivadc/pexels-kindelmedia-9044061.jpg?updatedAt=1718539585004">
        </div>
        <div class="card card-a">

            <div class="container-courses" data-aos="fade-left">


                <div class="courses-content" >
                    <div class="courses-box" >

                        <div class="text-content">
                            <div class="title">دوره های پایه</div>
                            <div class="text">دوره پایه شامل: ترم یک ترم دو ترم سه خردسالان ومادر وکودک میباشد
                                ‌</div>
                        </div>
                        <div class="img-courses"><img
                                src="https://ik.imagekit.io/9tnlivadc/Portrait%20Of%20Children%20In%20Water%20At%20Edge%20Of%20Pool%20Waiting%20For%20Swimming%20Lesson.jpg?updatedAt=1718538835652">
                        </div>

                    </div>

                    <div class="courses-box" >

                        <div class="text-content">
                            <div class="title">دوره های پایه</div>
                            <div class="text">دوره پایه شامل: ترم یک ترم دو ترم سه خردسالان ومادر وکودک میباشد
                                ‌</div>
                        </div>
                        <div class="img-courses"><img
                                src="https://ik.imagekit.io/9tnlivadc/O,%20Say%20Can%20You%20Swim_%20-%20Adpulp.jpg?updatedAt=1718538845491">
                        </div>

                    </div>

                    <div class="courses-box" >
                        <div class="text-content">
                            <div class="title">دوره های پایه</div>
                            <div class="text">دوره پایه شامل: ترم یک ترم دو ترم سه خردسالان ومادر وکودک میباشد
                                ‌</div>
                        </div>
                        <div class="img-courses"><img
                                src="https://ik.imagekit.io/9tnlivadc/December%20Holiday%20Course.jpg?updatedAt=1718538844306">
                        </div>

                    </div>
                </div>





            </div>
        </div>
        <div class="card">
            <img
                src="https://ik.imagekit.io/9tnlivadc/Portrait%20Of%20Children%20In%20Water%20At%20Edge%20Of%20Pool%20Waiting%20For%20Swimming%20Lesson.jpg?updatedAt=1718538835652">
        </div>
        <div class="card">
            <img src="https://ik.imagekit.io/9tnlivadc/December%20Holiday%20Course.jpg?updatedAt=1718538844306">
        </div>
    </div>
    <div class="footer">footer</div>
</div>