<section class="grid-section" >
  <div class="product-card"  *ngFor="let product of products">
    <a [routerLink]="['/productDetail', product.id]">
      <img 
        [src]="product.image?.[0] || 'https://via.placeholder.com/300x200/323842/ffffff?text=بدون+عکس'" 
        [alt]="product.productName" 
      />
      <div class="product-info">
        <span class="brand">{{product.productCode}}</span>
        <p class="product-name">{{product.productName}}</p>
        <p class="description">{{product.description | slice:0:100}}...</p>
        <div class="price-section">
          <p class="price">{{product.price | currency:'IRR'}}</p>
          <div class="cart-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

<div *ngIf="isLoading" class="loading">در حال بارگذاری...</div>

<button *ngIf="!isLoading && hasMoreProducts && products.length > 0" 
        (click)="loadMore()" 
        class="load-more-btn">
   محصولات بیشتر
</button>

<!-- <div *ngIf="!hasMoreProducts && products.length > 0" class="no-more">
  🎉 همه محصولات بارگذاری شدند
</div> -->

<div *ngIf="products.length === 0 && !isLoading" class="no-products">
  محصولی یافت نشد
</div>