* a{
  text-decoration: none;
}







.loading, .no-products, .no-more {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #666;
}

.load-more-btn {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: #323842;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.load-more-btn:hover {
  background-color: #252932;
}

.load-more-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.no-more {
  background-color: #f0f9ff;
  border: 1px solid #bae6fd;
  border-radius: 0.5rem;
  color: #0369a1;
}

.grid-section {
  display: grid;
  background-color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  justify-items: center;
  margin: 6rem auto;
  max-width: 1200px;
}

.product-card {
  width: 100%;
  max-width: 26rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  
}

.product-card img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.product-info {
  padding: 1.5rem;
  direction: rtl;
  text-align: right;
}

.brand {
  color: #9ca3af;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}

.product-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #1f2937;
}

.description {
  color: #666;
  font-size: 0.9rem;
  margin: 0.5rem 0;
  line-height: 1.4;
}

.price-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  direction: ltr;
}

.price {
  font-weight: 700;
  color: #059669;
  font-size: 1.1rem;
  
}

.cart-icon {
  background-color: #f3f4f6;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-left: 0px;
}

.cart-icon:hover {
  background-color: #e5e7eb;
}