



<div class="container">
  <input type="radio" name="slider" id="item-1" checked (change)="onChange()">
  <input type="radio" name="slider" id="item-2" (change)="onChange()">
  <input type="radio" name="slider" id="item-3" (change)="onChange()">

  <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src="https://ik.imagekit.io/9tnlivadc/DeWatermark.ai_1756214417956-removebg-preview.png?updatedAt=1757764793633" alt="song">
    </label>
    <label class="card" for="item-2" id="song-2">
      <img src="https://ik.imagekit.io/9tnlivadc/images.jpeg?updatedAt=1757764779742" alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="https://ik.imagekit.io/9tnlivadc/DeWatermark.ai_1756214417956-removebg-preview.png?updatedAt=1757764793633" alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="https://ik.imagekit.io/9tnlivadc/image-from-rawpixel-id-7024120-png.png?updatedAt=1757764809311" alt="song">
    </label>
  </div>

  <div class="player">
    <div class="upper-part">
      <div class="info-area" id="test">

        <label class="song-info" id="song-info-2">
          <div class="title">Words Remain</div>
          <div class="sub-line">
            <div class="subtitle">Moderator</div>
            <div class="time">4.05</div>
          </div>
        </label>
        <label class="song-info" id="song-info-3">
          <div class="title">Falling Out</div>
          <div class="sub-line">
            <div class="subtitle">Otzeki</div>
            <div class="time">4.05</div>
          </div>
        </label>
      </div>
    </div>

  </div>
</div>
